body {
    font-family: 'Product Sans', sans-serif;
    font-weight: 3px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: transparent;
    color: black;
    /* padding: 20px; */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Aligns items to opposite ends */
    align-items: center; /* Centers items vertically */
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

nav ul {
    list-style-type: none;

}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #3498db;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    /* padding: 10px; */
    background-color: transparent ;
    color: #7289da;
    margin-top: auto;
    width: 100%;
    /* box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); */
}


